<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

	
	
    <joint name="laser_joint" type="fixed">
        <parent link="joint_link3"/>
        <child link="laser_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="laser_link">
        <visual>
            <geometry>
                <box size= " 0.05 0.05 0.05"/>
            </geometry>
            <material name="red"/>
        </visual>
        
        <collision>
            <geometry>
                <box size= " 0.1 0.1 0.1"/>
            </geometry>
        </collision>
        
        <inertial>
            <mass value="${0.1}"/>
            <inertia ixx="${1}" ixy="0.0" ixz="0.0" 
                iyy="${1}" iyz="0.0" 
                izz="${1}"/>
        </inertial>
        
        
    </link>



    <gazebo reference="laser_link">
        <material>Gazebo/Red</material>

        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>1</samples>
                        <min_angle>0</min_angle>
                        <max_angle>0</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>
